<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        img.full-width {
            width: 100%;
            height: 1000px;
            object-fit: fill;
        }
    </style>
</head>
<body>
    <center>
        <img src="@{/images/Welcome.png}" alt="Welcome" class="fit-dimensions">
        <h1 th:text="${message}">Default Message</h1>
        <h1>A Sample JAVA MAVEN SPRINGBOOT WEB APPLICATION</h1>
        <h1>By Sameer A (SkMirza)</h1>
    </center>
</body>
</html>
